<HTML>

<HEAD>

<TITLE>JagVision 4638</TITLE>

</HEAD>

<BODY style="background-color:#707070">
<div align="center">
<img src="/static/jagbots.png" align=middle height=100 width=200>
<img src="/static/powerup.png" align=middle height=100 width=200>
<br>
<br>
<img src="{{ url_for('video_feed') }}" alt="Video Stream" align=middle>
</div>
<br>
<br>
<br>
<br>
<div align="center">
<h2>Proudly Powered By</h2>
<img src="static/nvidia.png" align=middle height=80 width=260>
</div>
<br>
<div align="center">
<u>JagVision Portal Developed For Team 4638</u><br>
Stream Stats For Judges<br>
IP Address: 10.46.38.8<br>
Port: 1181<br>
Resolution: 640x320<br>
FPS: Variable<br>
Host Machine: Jetson TX2<br>


</BODY>